* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

section {
  background-color: #008080;
  width: 100vw;
}

#hero {
  height: 100vh;
  background-color: #1c1d25;
  color: white;
  font-size: 20px;
  justify-content: space-between;
  position: relative;
}

#hero-img {
  position: absolute;
  bottom: -90px;
  right: 60px;
}

footer {
  height: 500px;
  background-color: black;
}

#name {
  margin: 20px;
  font-weight: 700px;
}

#nav-container {
  display: flex;
  justify-content: space-between;
}

nav {
  position: relative;
}

ul {
  display: flex;
  margin: 10px;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 80px;
}

#hero-text {
  margin-left: 90px;
  margin-top: 110px;
  position: relative;
}

#hero-name {
  margin-bottom: 20px;
}

#para-text {
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
}

#btn {
  width: 100px;
  height: 40px;
  background-color: coral;
  border-radius: 40px;
  margin: 15px;
  padding: 5px;
  text-align: center;
  font-weight: 100px;
}

#btn:hover {
  background-color: purple;
}

#btn:active {
  background-color: teal;
  color: yellow;
}

#socials {
  position: absolute;
  right: 10px;
  bottom: 90px;
}

.social {
  margin: 20px;
}

#sub-section {
  display: flex;
  padding: 90px;
  color: white;
  height: 400px;
}

#about-me-container {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 200;
}

#portfolio-section {
  background-color: white;
}

#project-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#project-card {
  flex-direction: column;
  height: 500px;
  width: 300px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: center;
}

#project-blurb {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
}

#projects-h2 {
  margin-top: 50px;
  margin-left: 90px;
  margin-bottom: 30px;
  text-align: left;
}

#project-image {
  width: 220px;
  height: 220px;
  border-radius: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#project-btn {
  background-color: rgb(0, 85, 85);
  color: white;
  border-radius: 10px;
  padding: 2px;
  margin-top: 10px;
}

#project-header {
  margin-bottom: 10px;
  font-weight: bold;
}

#project-links {
  text-decoration: none;
  color: black;
}

hr {
  margin: 20px;
}

h2 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  justify-content: center;
  margin: top 100px;
  height: 200px;
}

#contact {
  padding: 40px;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0px;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: inline-block;
    border: 0px;
    background: transparent;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  ul {
    display: none;
  }

  ul.show {
    display: block;
  }

  #nav-list {
    align-items: flex-start;
  }
  #name {
    display: none;
  }
}
